
{% include 'main.html' %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'jweb2/css/aboutme.css' %}">
</head>
<body class="body">
    <div class="content-wrapper">
    <h1 class="page-header">About Me</h1>
        <div class="image-wrapper">
            <img src="{% static 'jweb2/images/selfie.png' %}">
        </div>
    <h1 class="name">Joshua Li</h1>
    <p1 class="introduction">Hi! My name is Joshua Li and I thank you for visiting my personal website! I am currently a freshman at the University of California, Santa Cruz while pursuing a bachelor's in Computer Science B.S. My interests lie in full stack development so I am looking forward to gain experience, especially in backend engineering, by creating other websites. Some other programmning abilities and experiences I have are Java, Python, C++, SQL, HTML, CSS, Android Studio, and Firebase. Outside of coding, I enjoy any form of physical excercise, more specifically sports! I used to play badminton and I still continue to play basketball casually. On top of that, I like to spend my free time binging a good TV show, hanging out with friends, and playing video games!</p1>
    </div>
</body>
