{% include 'main.html' %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'jweb2/css/home.css' %}">
</head>
{% block content %}
<body class="body">
<div data-include="jsite2/main.html"></div>
<div class="header">
    <h1 class="page-header" style="color: white; ">Welcome</h1>
</div>
<div class="main-content">
        <div class="image">
            <img src="{% static 'jweb2/images/circleselfie.png' %}" /> 
        </div>

</div>

{% endblock content %}
{% include 'pagebottom.html' %}
</body>